@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

section {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #1D1A1A;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: -12px;
    margin-right: -12px;
}

.col-6 {
    width: 50%;
    padding-left: 12px;
    padding-right: 12px;
}

.d-flex {
    display: flex;
}

.text-box {
    text-align: left;
    padding: 5px;
}

.container {
    max-width: 1140px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

.heading {
    font-family: 'Poppins', sans-serif;
    font-size: 38px;
    font-weight: 600;
    line-height: 61px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}

.p-1 {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    opacity: 70%;
}

.p-heading {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}

.img-box>img {
    width: 100%;
}

.img-box {
    margin-top: 20px;
}

.number-1 {
    width: 71px;
    height: 71px;
    background: #FFFFFF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Poppins;
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: center;
    margin-right: 15px;
}

.number-heading {
    background: #0C0B0B;
    border-radius: 70px;
    margin-top: 15px;
    padding: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.number-heading:hover .number-1 {
    background: linear-gradient(90deg, #FFA800 0%, #F06500 100%);
    color: #FFFFFF;
}

@media (min-width:320px) {
    .col-sm-12 {
        width: 100%;
        padding-left: 12px;
        padding-right: 12px;
    }

}

@media (min-width:992px) {
    .col-lg-6 {
        width: 50%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .img-box {
        position: absolute;
        right: 0%;
        top: 50%;
        transform: translateY(-50%);
        width: 50%;
    }

    section {
        position: relative;
    }
}